*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
section{
    height: 100vh;
}
main{
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrap{
    width: 50%;
    height: fit-content;
    background-color: rgb(248, 246, 246);
    padding: 2rem;
}
form{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: 2rem;
}
.greet h2{
    font-size: 3rem;
}
input[type="password"] , input[type="text"] {
    padding: 1.5rem;
    outline: none;
    border: none;
    color: rgb(11, 11, 11);
    font-size: 1.2rem;
}
input[type="submit"] {
    padding: 1.5rem;
    border: none;
    color: #fefefe;
    background-color: rgb(11, 11, 11);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 3rem;
}
